			     <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-7">
                <div class="table-responsive">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th class="text-center">Competencia</th>
                        <th class="text-center">Nivel</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each teacher.skillTests as |skill|}}
                        <tr>
                          <td class="text-center">{{skill.skillTest}}</td>
                          <td class="text-center">
                            {{#if (color-tag skill.type "Produciendo")}}
                            <span class="label label-success">Produciendo</span>
                            {{/if}}
                            {{#if (color-tag skill.type "Gestándose")}}
                            <span class="label label-primary">Gestándose</span>
                            {{/if}}
                            {{#if (color-tag skill.type "Imprecisa")}}
                            <span class="label label-warning">Impreciso</span>
                            {{/if}}
                            {{#if (color-tag skill.type "Latente")}}
                            <span class="label label-danger">Latente</span>
                            {{/if}}
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
