<div class="container">
  <br>
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right"></ul>
    </nav>
		<br><br>
    <div class="fa fa-bar-chart" style="font-size:48px"></div>
    <h3 class="text-muted"> Expolora aquí tus resultados</h3>
  </div>

  {{outlet}}

  <br><br>

  <footer class="footer">
    <p>&copy; Making Devs</p>
  </footer>

</div> <!-- /container -->