<div class="album py-5 bg-light">
  <h2 class="display-4"> Las gráficas </h2>
  <div class="container">

    <div class="row">

      <h1> TODO: Aquí visualizar todas las cervezas!</h1>
      {{outlet}}
    </div>

  </div>
</div>